body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
section{
    margin-bottom: 150px;
}
.container-flex{
    display: flex;
    justify-content: center;
}
.top-part{
    text-align: center;
    background-image: url(images/donate-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: #ffffff;
    display: grid;
    align-items: center;
}
.top-part h1{
    font-size: 60px;
    margin-bottom: 5px;
}
.top-part p{
    font-size: 20px;
    margin-bottom: 30px;
}
.link-btn{
    text-decoration: none;
    color: #fff;
    background: #FF6464;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 5px;
    font-size: 20px;
}
.donate-pay-site{
    text-align: center;
}
.donate-pay-site h2, .donate-plan-site h2, .latest-work-site h2, .get-update-site h2{
    font-size: 50px;
    margin-bottom: 5px;
    text-align: center;
}
.donate-pay-site p, .donate-plan-site p, .get-update-site p{
    font-size: 20px;
    color: #6F706F;
    margin-bottom: 60px;
    text-align: center;
}
.donate-pay-amount{
    display: flex;
    justify-content: space-evenly;
}
.donate-pay-tk{
    background: #f5f5f5;
    border: 3px solid #f5f5f5;
    width: 200px;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}
.donate-pay-tk p{
    font-size: 50px;
    font-weight: 600;
    color: #6F706F;
    transition: 0.3s;
}
.donate-pay-tk:hover{
    background: #FDEFF0;
    border: 3px solid #FF6464;
}
.donate-pay-tk:hover p{
    color: #FF6464;
}
.donate-pay-site input{
    width: 80%;
    border: none;
    border-bottom: 3px solid #ddd;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
}
.donate-plan{
    width: 400px;
    height: 400px;
    background: #ddd;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.donate-plan img{
    margin-top: 50px;
}
.donate-plan h3{
    font-size: 28px;
}
.donate-plan p{
    text-align: left;
}
.donate-plan-color-1{
    background: #EBF2F3;
}
.donate-plan-color-2{
    background: #FDECE8;
}
.donate-plan-color-3{
    background: #FDF6D8;
}
.latest-work{
    width: 20%;
    margin: 50px 30px;
    box-shadow: 3px 3px 10px grey;
    border-radius: 25px;
    padding: 25px;
}
.latest-work img{
    width: 100%;
}
.latest-work h3{
    font-size: 28px;
}
.get-update-site{

}
.get-update{
    width: 900px;
    height: 250px;
    background: #FDF6D8;
    margin: 0 auto;
}
.get-update-content{
    text-align: center;
    line-height: 250px;
}
.get-update-content input{
    border: none;
    width: 300px;
    height: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #ddd;
    font-size: 20px;
}
footer{
    text-align: center;
    background: #101016;
    color: #ffffff;
    height: 220px;
}
.footer-content{
    display: grid;
    align-items: center;
}
.footer-content h1{
    font-size: 50px;
}



